.wrapper {
    max-width: 1250px;
    width: 85%;
    margin: 0 auto;
}

// Headings ............................................
h1 {
    font-size: calc(2.5rem + 5.5vw);
    font-family: 'Playfair Display SC', serif;
    color: $colour2;
    font-style: italic;
    line-height: 70px;
}

h1 span {
    font-size: 11rem;
    font-size: calc(3rem + 8vw);
}

h1.small-home-title,
h1.blog-page-title,
h1.contact-page-title,
h2,
h3,
nav li a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1.small-home-title {
    font-size: calc(3.3rem + 1.7vw);
    letter-spacing: 6.7px;
    color: $colour3;
}

h1.blog-page-title,
h1.contact-page-title {
    font-size: calc(2rem + 4.7vw);
    text-align: left;
    line-height: 58px;
    letter-spacing: 9px;
    color: #FFF;
}

h2 {
    font-size: 3rem;
    line-height: 58px;
    letter-spacing: 3.8px;
    color: $colour3;
}

.home-main-s4 h2 {
    color: $colour2;
}

h3 {
    font-size: 2.5rem;
    line-height: 58px;
    letter-spacing: 3.2px;
    color: $colour3;
}

// Titles and paragraphs (+ grouped links) ............................................
p,
.blog-main-aside li,
.blog-main-aside a,
footer a {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;
    color: $colour4;
}

p.blog-date {
    color: $colour2;
    font-style: italic;
}

p.aside-title {
    color: $colour2;
    font-weight: 700;
    font-size: 1.8rem;
}

p.blog-comments-heading {          
    font-size: 3rem;
    font-weight: 700;
}

p.blog-comments-title {
    color: $colour2;
    font-weight: 700;
}

p.email {
    font-weight: 700;
}

// Links, icons and buttons ............................................
a {
    display: inline-block;
}

a.logo {
    font-size: calc(1.6rem + 0.9vw);
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    color: $colour1;
}

nav {
    li a {
    font-size: calc(1.8rem + 0.2vh);
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 1px;
    color: #FFF;

        &:hover, &:focus {
            color: $colour1;
            border-bottom: $colour1 dotted 2px;
        }
    }

    a.menu {
    font-size: 3rem;
    color: #FFF;

    &:hover, &:focus {
        color: $colour1;
        }
    }
} 

.aside-txt a {
    color: $colour3;
    font-weight: 700;

    &:hover, &:focus {
            border-bottom: $colour3 dotted 2px;
        }
}

a.button,
button {
    background: $colour2;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Playfair Display SC', serif;

    &:hover, &:focus {
        color: $colour3;
        background: $primaryBackgroundColour;
        border: $colour3 2px solid;
    }
}

a.button {
    padding: 10px 15px;
}

button {
    padding: 10px 15px;
    border: none;
    width: 100%;
}

.home-main-s3 span {
    font-size: 2rem;
        .fa-stack-2x {
            color: #50E3C2;
    }
        .fa-stack-1x {
            color: #FFF;
    }
}

.contact-txt span {
    font-size: 3rem;
    color: $colour4;

    // Credit for code below: https://www.w3schools.com/howto/howto_css_shake_image.asp
    &:hover, 
    &:focus {
        color: $colour1;
        animation: shake 0.75s 2;

        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
    }
}    

// Forms ............................................
form {
    input[type="name"],
    input[type="email"],
    textarea {
        padding: 30px;
        font-size: 1.8rem;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 2px;

        &::placeholder {
            font-size: 1.8rem;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            line-height: 32px;
            letter-spacing: 2px;
        }
    }
    
    

    .name-and-email {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        

        input[type="name"],
        input[type="email"] {
            width: calc((100% - 50px) / 2);
            border: none;
            border-bottom: $colour1 2px solid;
            margin-right: 50px;

        &:last-child {
            margin-right: 0;
            }
        }
    }

    textarea {
        border: $colour1 2px solid;
        resize: none;
        width: 100%;
        height: 35vh;
    }

    button {
            margin: 20px 0 50px 0;
        }
}

.form-1 {
    background: $primaryBackgroundColour;
    
    input[type="name"],
    input[type="email"],
    textarea {
        background: $primaryBackgroundColour;
    }
}

.form-2 {
    background: #FFF;
    
    input[type="name"],
    input[type="email"],
    textarea {
        background: #FFF;
    }
}

footer {
    background-color: $colour4;
    padding: 20px 0;

    p {
        color: #FFF;
        text-align: center;
    }

    a {
        color: $colour1;
        text-align: center;

        &:hover, &:focus {
            border-bottom: $colour1 dotted 2px;
        }
    }
}








