// Home header styles ............................................
.home-header {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;

        .wrapper {
            height: 100%;
            
                .header-txt {
                    text-align: left;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 0 5% 45%;
                    

                    h1 {
                        z-index: 20;
                        position: relative;
                        }
                }  

                img {
                    width: 50%;
                    position: absolute;
                    bottom: -50px;
                    left: 0%;
                    z-index: 10;
                }
            }    
    }
    
.blog-header {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    .wrapper {
        height: 100%;
            
            h2 {
                text-align: left;
                color: #FFF;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 25%;
            }    
        }
    }

    

    // .home-heading {
    //     height: 100%;

    //     .header-txt {
    //         width: 100%;
    //         border: red 2px solid;
    //     }

    //     .header-img {
    //         width: 100%;
    //         display: flex;
    //         justify-content: flex-end;
    //         position: relative;
    //         bottom: 450px;
    //         img {
    //             width: 800px;
    //         }
    //     }
    // }
    



// h1,
        // .small-h1 {
        //     position: absolute;
        //     z-index: 10;
        //     margin-top: -70px;
        // }