.home-main {
    .main-s1 {
    background-color: $primaryBackgroundColor;
        
        .main-s1-flex {
            display: flex;
            justify-content: space-between;
            padding: 100px 0;

            .main-s1-txt {
                width: 50%;
                
                h3 {
                    padding-bottom: 15px;
                }

                p {
                    padding-bottom: 10px;
                }
            }
            
                img {
                    box-shadow: -20px 20px $shadowBox;
                }  
            }        
        }
    }

    .main-s2 {
        background-color: $secondaryBackgroundColor;

        .main-s2-flex {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px; 
            padding: 100px 0;
        }
    }

    .main-s3 {
        background-color: $primaryBackgroundColor;
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 35px;
            padding: 100px 0;
            
            li {
                display: grid;
                grid-template-columns: 1fr 6fr;
                
                .main-s3-icon {
                    padding-top: 8px;
                }

                span {
                            font-size: 2rem;
                                .fa-stack-2x {
                                    color: #50E3C2;
                            }
                                .fa-stack-1x {
                                color: #FFF;
                            }
                        }
            }
        }        
    }

    .main-s4 {
        background: $secondaryBackgroundColor;
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;

        .main-s4-s1 { 
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-bottom: 50px;
            
            img {
                position: relative;
                top: -50px;
                box-shadow: 20px 20px $shadowBox;
            }

            p {
                text-align: end;
                max-width: 450px;
                padding: 20px 0;
            }
        }

        .main-s4-s2 { 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 50px;
            
            img {
                position: relative;
                bottom: -50px;
                box-shadow: -20px 20px $shadowBox;
            }

            p {
                max-width: 550px;
                padding: 20px 0;
            }
        }
    }

    .main-s5 {
        img {
        background-repeat: no-repeat;
        }

        .main-s5-txt {
            padding: 100px 150px;
            text-align: center;

            p {
                padding: 15px 0;
            }
        }

        
    }