.contact-main {
    background: $primaryBackgroundColor;

    .contact-container {
        display: flex;
        align-items: center;

        form {
            width: 70%;
            position: relative;
            top: -100px;
            left: -50px;
            padding: 0 20px;
            box-shadow: 20px 20px $colour1;
        }

        .contact-txt {
            width: 30%;
            margin-left: 100px;

            p.email {
                margin-bottom: 20px;
            }
            
            ul {
                display: flex;

                li {
                    margin: 0 20px 20px 0;
                    
                    a {
                        padding: 20px 20px 20px 0;
                        
                    }
                }
            }
        }
    }    
}