// Portrait tablet and small desktops ............................................
@media (max-width: 940px) {
    header {            
        .wrapper nav {
            padding: 50px 0;
                
            ul li {
                margin-left: 20px;
                
                a {
                    padding-left: 10px;
                }
            }
        } 
    }
    
    .home-header  {
        height: 75vh;
        
        .title-container-1 {
            padding: 0px;

            h1 {
                line-height: 55px;
            }
        }
        
        img {
            display: none;
        }
    }

    .home-main {
        .home-main-s1 .home-main-s1-flex {
            flex-direction: column;
            text-align: center;
            padding: 75px 0;
            align-items: center;
        
            .home-main-s1-txt {
                width: 100%;
                margin-top: 40px;
            }

            .home-main-s1-img {
                order: -1;
                width: 70%;
                
            }
        }

        .home-main-s3 {
            ul {
                gap: 80px;

                li {
                grid-template-columns: 1fr 5fr;
                }
            }
        }

        .home-main-s4 {
            .home-main-s4-s1 p,
            .home-main-s4-s2 p {
                max-width: 350px;
            }
        }

        .home-main-s5 {
            .home-main-s5-txt {
                padding: 75px 0px;
            }
        }
    }

    .blog-main {
        .blog-main-s1 {
            .blog-main-post {
                .blog-txt {
                    padding-left: 70px;
                }
            }

            .blog-main-aside {
                width: 35%;
            }
        }

        .blog-main-s2 .wrapper {
            padding-right: 0px;
        }
    }

    .contact-main {
        .contact-container {
            flex-direction: column;
            text-align: center;

            form {
                width: 100%;
                top: -50px;
                left: 0px;
            }

            .contact-txt {
                width: 100%;
                margin: 25px 0 50px 0;
                
                ul {
                    justify-content: center;
                    margin-bottom: 25px;
                    
                    li {
                        margin-right: 0px;

                        a {
                            padding: 0 30px;
                        }
                    }
                }
            }
        }
    }
}           

// Landscape phone to portrait tablet ............................................
@media (max-width: 768px) {
    header {            
        .wrapper {
            nav {
                ul {
                    display: none;
                }

                a.menu {
                    display: inline-block;
                    align-self: flex-end;
                }
            }
            .title-container-2 {
                justify-content: flex-end;
            }
        }
    }
    
    .home-header {
        height: 70vh;

        h1 {
            line-height: 50px;
        }
    }

    .blog-header {
        .title-container-2 {
            justify-content: flex-end;
            padding-bottom: 50px;
        }
    }

    .contact-header {
        .title-container-2 {
            justify-content: flex-end;
            padding-bottom: 100px;
        }
    }

    .home-main {
        .home-main-s2 {
            padding: 75px 0;

            .home-main-s2-flex {
                grid-template-columns: 1fr;

                img {
                    width: 60%;
                    margin: 0 auto;
                }
            }
        }
        
        .home-main-s3 {
            padding: 75px 0;

            ul {
                grid-template-columns: 1fr;
                gap: 50px;
                padding: 0px;

                li {
                    grid-template-columns: 1fr 7fr;
                }
            }
        }    
        
        .home-main-s4 {
            background: $secondaryBackgroundColor;
            display: grid;
            grid-template-columns: 1fr;

            .home-main-s4-s1,
            .home-main-s4-s2 {
                align-items: center;

                img {
                    position: static;
                    width: 70%;
                }

                .main-s4-img2 {
                    order: -1;
                }

                p, h2 {
                    text-align: center;
                    max-width: 500px;
                }
            }

            .home-main-s4-s1 {
                padding: 75px 0 75px 0;
            }

            .home-main-s4-s2 {
                padding: 0px 0 75px 0;

                h2 {
                    margin-top: 50px;
                }
            }
        }
    }

    .blog-main {
        .blog-main-s1 {
            .blog-main-aside {
                display: none;
            }

            .blog-main-post {
                width: 100%;
                position: static;
                padding: 75px 0;
                
                img {
                    position: static;
                    width: 80%;
                    margin: 0 auto;
                }

                .blog-txt {
                    border-right: none;
                    padding-left: 60px;
                }
            }
        }

        .blog-main-s2 .wrapper {
            .blog-comments-1,
            .blog-comments-2 {
                padding-right: 0px;
            }
            
            .blog-comments-2 {
                padding-bottom: 0px;
            }

            form {
                padding-top: 50px;

                .name-and-email {
                    margin-top: 0px;
                }
            }
        }
    }

    form {
        input[type="name"],
        input[type="email"],
        textarea {
            padding: 20px;
        }

        .name-and-email {
            margin-top: 0px;
            flex-direction: column;

            input[type="name"],
            input[type="email"] {
                width: 100%;
            }

            input[type="email"] {
                margin-bottom: 20px;
            }
        }
    }
}

// Landscape phones and down ............................................
@media (max-width: 420px) {
    .wrapper {
        width: 90%;
    }
    
    .home-header,
    .blog-header,
    .contact-header {
        height: 50vh;
    }    

    .blog-header,
    .contact-header {
        .title-container-2 {
            padding: 0 0 35px 0;
        }
    }

    .home-main {
        .home-main-s1 .home-main-s1-flex {
            padding: 50px 0;

            img {
                box-shadow: -10px 10px $colour1;
            }
            .home-main-s1-txt {
                h2 {
                    padding-top: 0px;
                }
            }
        }
        
        .home-main-s3 {
            padding: 50px 0;

            ul li {
                grid-template-columns: 1fr 4fr;
            }
        }
        
        .home-main-s4 {
            .home-main-s4-s1,
            .home-main-s4-s2 {
                p, h2 {
                    max-width: 300px;
                }
            }
            
            .home-main-s4-s1 img {
                box-shadow: 10px 10px $colour1;
            }

            .home-main-s4-s2 img {
                box-shadow: -10px 10px $colour1;
            }
        }

        .home-main-s5 .home-main-s5-txt {
            padding: 50px;
        }
    }
    
    .blog-main .blog-main-s1 {
        .blog-main-post {
            img {
                box-shadow: 15px 15px $colour1;
            }
            
            .blog-txt {
                padding: 50px 25px;
            }
        }
    }

    form {
        input[type="name"],
        input[type="email"],
        textarea {
            padding: 15px;
        }  
    }

    .contact-main {
        .contact-container { 
            form {
                box-shadow: 10px 10px $colour1;
                position: static;
                margin-bottom: 50px;
            }
        }
    }
    
    footer p {
        font-size: 1.4rem;
    }
}