// Stripping ............................................
@import "setup";

// Variables ....................
$primaryBackgroundColour: #FAFFFE;
$secondaryBackgroundColour: #D2F9F1;

$colour1: #50E3C2;
$colour2: #063974;
$colour3: #0C5F4C;
$colour4: #2C2C2C;

// Skip link ............................................
// Credit for code below: https://www.bignerdranch.com/blog/web-accessibility-skip-navigation-links/
a.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;

    &:active, &:focus {
        left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible;
        text-decoration: none; 
        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #FFF;
        background: $colour1;
        padding: 5px;
    } 
}

// Partials ............................................
@import "global";
@import "header";
@import "main-home";
@import "main-blog";
@import "main-contact";
@import "media";

