@import "setup";

// Mixins and global selectors ....................
// span {
//     font-size: 2rem;
//     color: #FFF;
// }

$primaryBackgroundColor: #FAFFFE;
$secondaryBackgroundColor: #D2F9F1;

$colour1: #50E3C2;
$colour2: #063974;
$colour3: #0C5F4C;
$colour4: #2C2C2C;


// $backgroundColor: orange;
// $headLineFontSize: 25px;
// $linkColor: cadetblue;

// @mixin customButton($buttonColor) {
//     font-size: 16px;
//     color: black;
//     font-weight: bold;
//     padding: 20px;
//     background-color: $buttonColor;
// }

// @mixin position($type, $top, $right) {
//     position: $type;
//     top: $top;
//     right: $right;
// }

@import "grouped";
@import "header";
@import "main-home";
@import "main-blog";
@import "main-contact";

