html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
form {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 7rem;
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  color: #063974;
}

h2 {
  font-size: 8.7rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 9px;
}

h3 {
  font-size: 6.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 6.7px;
}

h4 {
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 3.8px;
}

h5 {
  font-size: 3.0rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 3.2px;
}

a.logo {
  font-size: 3.46;
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  color: #50E3C2;
}

.logo-and-nav li {
  margin-left: 10px;
}

.logo-and-nav li a {
  font-size: 2.0rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: #FFF;
  padding-left: 35px;
}

.logo-and-nav li a:hover, .logo-and-nav li a:focus {
  color: #50E3C2;
}

p {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 2px;
}

::-webkit-input-placeholder {
  font-size: 2.0rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

:-ms-input-placeholder {
  font-size: 2.0rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

::-ms-input-placeholder {
  font-size: 2.0rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

::placeholder {
  font-size: 2.0rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

header {
  padding-top: 20px;
}

header .wrapper {
  height: 100%;
}

header .logo-and-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo-and-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-header {
  background: url(../assets/home-image-1.jpg) center/cover;
  height: 100vh;
  position: relative;
}

.home-header .home-heading {
  height: 100%;
  border: red 2px solid;
}

.home-header .home-heading img {
  width: 50%;
  position: absolute;
  bottom: -50px;
  left: 0%;
}

.home-header .home-heading h1,
.home-header .home-heading h3 {
  position: absolute;
  z-index: 10;
}

.home-main .main-s1 {
  background-color: #FAFFFE;
}

.home-main .main-s1 .main-s1-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.home-main .main-s1 .main-s1-flex .main-s1-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.home-main .main-s1 .main-s1-flex .main-s1-txt h4 {
  padding-bottom: 15px;
}

.home-main .main-s1 .main-s1-flex .main-s1-txt p {
  padding-bottom: 10px;
}

.home-main .main-s1 .main-s1-flex img {
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}

.home-main .main-s2 {
  background-color: #D2F9F1;
}

.home-main .main-s2 .main-s2-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

.home-main .main-s2 .main-s2-flex img {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.home-main .main-s2 .main-s2-flex img:last-child {
  margin-right: 0;
}

.home-main .main-s3 {
  background-color: #FAFFFE;
}

.home-main .main-s3 .main-s3-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
