html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
form {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 7rem;
  font-family: 'Playfair Display SC', serif;
}

.small-h1 {
  font-size: 6.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 6.7px;
}

h2 {
  font-size: 8.7rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 9px;
  color: #FFF;
}

h3 {
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 3.8px;
}

h4 {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 3.2px;
  color: #0C5F4C;
}

p,
.blog-main-s1-aside li,
.blog-main-s1-aside a {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 2px;
  color: #2C2C2C;
}

a.logo {
  font-size: 2.5rem;
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  color: #50E3C2;
}

a.button,
button {
  background: #063974;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
}

a.button {
  padding: 10px 15px;
  display: inline-block;
}

button {
  padding: 10px 15px;
  border: none;
  width: 100%;
}

.logo-and-nav li a {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: #FFF;
}

.logo-and-nav li a:hover, .logo-and-nav li a:focus {
  color: #50E3C2;
}

span a {
  font-size: 2rem;
  display: inline-block;
}

form {
  background: #FAFFFE;
}

form input[type="name"],
form input[type="email"],
form textarea, form::-webkit-input-placeholder {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

form input[type="name"],
form input[type="email"],
form textarea, form:-ms-input-placeholder {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

form input[type="name"],
form input[type="email"],
form textarea, form::-ms-input-placeholder {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

form input[type="name"],
form input[type="email"],
form textarea, form::placeholder {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

form .name-and-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
}

form .name-and-email input[type="name"],
form .name-and-email input[type="email"] {
  width: 48%;
  border: none;
  border-bottom: #50E3C2 2px solid;
  padding: 25px;
  background: #FAFFFE;
}

form textarea {
  border: #50E3C2 2px solid;
  padding: 25px;
  resize: none;
  width: 100%;
  height: 35vh;
  background: #FAFFFE;
}

form button {
  margin: 20px 0 50px 0;
}

footer {
  background-color: #2C2C2C;
}

footer p {
  color: #FFF;
  text-align: center;
  padding: 10px 0;
}

header {
  padding-top: 20px;
}

header .logo-and-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

header .logo-and-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo-and-nav ul li {
  margin-left: 40px;
}

header .logo-and-nav ul li li a {
  padding-left: 20px;
}

.home-header {
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.home-header .wrapper {
  height: 100%;
}

.home-header .wrapper .header-txt {
  text-align: left;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 5% 45%;
}

.home-header .wrapper .header-txt h1 {
  z-index: 20;
  position: relative;
  color: #063974;
  font-style: italic;
}

.home-header .wrapper .header-txt .small-h1 {
  z-index: 20;
  position: relative;
  color: #0C5F4C;
}

.home-header .wrapper img {
  width: 50%;
  position: absolute;
  bottom: -50px;
  left: 0%;
  z-index: 10;
}

.blog-header {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.blog-header .wrapper {
  height: 100%;
}

.blog-header .wrapper h2 {
  text-align: left;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20%;
}

.contact-header {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.contact-header .wrapper {
  height: 100%;
}

.contact-header .wrapper h2 {
  text-align: left;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20%;
}

.home-main .main-s1 {
  background-color: #FAFFFE;
}

.home-main .main-s1 .main-s1-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.home-main .main-s1 .main-s1-flex .main-s1-txt {
  width: 50%;
}

.home-main .main-s1 .main-s1-flex .main-s1-txt h3 {
  padding-bottom: 15px;
  color: #0C5F4C;
}

.home-main .main-s1 .main-s1-flex .main-s1-txt p {
  padding-bottom: 10px;
}

.home-main .main-s1 .main-s1-flex img {
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}

.home-main .main-s2 {
  background-color: #D2F9F1;
}

.home-main .main-s2 .main-s2-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 100px 0;
}

.home-main .main-s3 {
  background-color: #FAFFFE;
}

.home-main .main-s3 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  padding: 75px 0;
}

.home-main .main-s3 ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
}

.home-main .main-s3 ul li .main-s3-icon {
  padding-top: 8px;
}

.home-main .main-s3 ul li span {
  font-size: 2rem;
}

.home-main .main-s3 ul li span .fa-stack-2x {
  color: #50E3C2;
}

.home-main .main-s3 ul li span .fa-stack-1x {
  color: #FFF;
}

.home-main .main-s4 {
  background: #D2F9F1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 3fr;
      grid-template-columns: 3fr 1fr 3fr;
}

.home-main .main-s4 h3 {
  color: #063974;
}

.home-main .main-s4 .main-s4-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 50px;
}

.home-main .main-s4 .main-s4-s1 img {
  position: relative;
  top: -50px;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
}

.home-main .main-s4 .main-s4-s1 p {
  text-align: end;
  max-width: 450px;
  padding: 20px 0;
}

.home-main .main-s4 .main-s4-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
}

.home-main .main-s4 .main-s4-s2 img {
  position: relative;
  bottom: -50px;
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}

.home-main .main-s4 .main-s4-s2 p {
  max-width: 450px;
  padding: 20px 0;
}

.home-main .main-s5 img {
  background-repeat: no-repeat;
}

.home-main .main-s5 .main-s5-txt {
  padding: 100px 150px;
  text-align: center;
}

.home-main .main-s5 .main-s5-txt h3 {
  color: #0C5F4C;
}

.home-main .main-s5 .main-s5-txt p {
  padding: 15px 0;
}

.blog-main {
  background: #FAFFFE;
}

.blog-main .blog-main-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFFFE;
}

.blog-main .blog-main-s1 .blog-main-s1-section {
  width: 60%;
  position: relative;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-main .blog-main-s1 .blog-main-s1-section img {
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
  margin-right: 25px;
}

.blog-main .blog-main-s1 .blog-main-s1-section .blog-main-s1-txt {
  padding: 75px 50px 50px 0px;
  padding-left: 100px;
  border-right: 4px solid #50E3C2;
  border-bottom: 4px solid #50E3C2;
  position: relative;
  left: 20px;
}

.blog-main .blog-main-s1 .blog-main-s1-section .blog-main-s1-txt h3 {
  color: #0C5F4C;
}

.blog-main .blog-main-s1 .blog-main-s1-section .blog-main-s1-txt p.blog-date {
  color: #063974;
  font-size: 1.6rem;
  font-style: italic;
}

.blog-main .blog-main-s1 .blog-main-s1-section .blog-main-s1-txt p {
  padding: 10px 0;
}

.blog-main .blog-main-s1 .blog-main-s1-aside {
  width: 25%;
  padding-top: 100px;
}

.blog-main .blog-main-s1 .blog-main-s1-aside img {
  -webkit-box-shadow: 3px 30px 0px 20px yellow;
          box-shadow: 3px 30px 0px 20px yellow;
}

.blog-main .blog-main-s1 .blog-main-s1-aside .aside-txt {
  background-color: yellow;
  padding: 0 0 15px 10px;
}

.blog-main .blog-main-s1 .blog-main-s1-aside .aside-txt p.aside-title {
  color: #063974;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 15px 0;
}

.blog-main .blog-main-s1 .blog-main-s1-aside .aside-txt a {
  color: #0C5F4C;
  font-weight: 700;
  display: inline-block;
  padding: 10px 0 20px 0;
}

.blog-main .blog-main-s1 .blog-main-s1-aside .aside-txt ul li::before {
  content: "\2022";
  color: #50E3C2;
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  width: 1em;
  margin-left: 0.5em;
}

.blog-main .blog-main-s1 .blog-main-s1-aside .aside-txt ul li::before p {
  display: inline-block;
}

.blog-main .blog-main-s2 {
  width: 60%;
}

.blog-main .blog-main-s2 p.blog-comments-title {
  padding-bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
}

.blog-main .blog-main-s2 .blog-comments-1,
.blog-main .blog-main-s2 .blog-comments-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-1-img,
.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-2-img,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-1-img,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-2-img {
  width: 20%;
}

.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-1-txt,
.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-2-txt,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-1-txt,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-2-txt {
  width: 80%;
  padding-left: 50px;
}

.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-1-txt .blog-comments-1-title,
.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-1-txt .blog-comments-2-title,
.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-2-txt .blog-comments-1-title,
.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-2-txt .blog-comments-2-title,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-1-txt .blog-comments-1-title,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-1-txt .blog-comments-2-title,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-2-txt .blog-comments-1-title,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-2-txt .blog-comments-2-title {
  color: #063974;
  font-weight: 700;
}

.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-1-txt p:last-child,
.blog-main .blog-main-s2 .blog-comments-1 .blog-comments-2-txt p:last-child,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-1-txt p:last-child,
.blog-main .blog-main-s2 .blog-comments-2 .blog-comments-2-txt p:last-child {
  padding: 20px 0;
}

.blog-main .blog-main-s2 form .name-and-email {
  margin-top: 30px;
}

.contact-main {
  background: #FAFFFE;
}

.contact-main .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-main .contact-container form {
  width: 70%;
  position: relative;
  top: -100px;
  padding: 0 20px;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
}

.contact-main .contact-container .contact-txt {
  width: 30%;
  margin-left: 100px;
}

.contact-main .contact-container .contact-txt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-main .contact-container .contact-txt ul li {
  margin: 0 20px 20px 0;
}

.contact-main .contact-container .contact-txt ul li a {
  padding: 20px 20px 20px 0;
}

.contact-main .contact-container .contact-txt ul li a span {
  font-size: 3rem;
  color: #2C2C2C;
}

.contact-main .contact-container .contact-txt p.email {
  font-weight: 700;
  margin-bottom: 20px;
}
