html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
form {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

h1 {
  font-size: calc(2.5rem + 5.5vw);
  font-family: 'Playfair Display SC', serif;
  color: #063974;
  font-style: italic;
  line-height: 70px;
}

h1 span {
  font-size: 11rem;
  font-size: calc(3rem + 8vw);
}

h1.small-home-title,
h1.blog-page-title,
h1.contact-page-title,
h2,
h3,
nav li a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1.small-home-title {
  font-size: calc(3.3rem + 1.7vw);
  letter-spacing: 6.7px;
  color: #0C5F4C;
}

h1.blog-page-title,
h1.contact-page-title {
  font-size: calc(2rem + 4.7vw);
  text-align: left;
  line-height: 58px;
  letter-spacing: 9px;
  color: #FFF;
}

h2 {
  font-size: 3rem;
  line-height: 58px;
  letter-spacing: 3.8px;
  color: #0C5F4C;
}

.home-main-s4 h2 {
  color: #063974;
}

h3 {
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 3.2px;
  color: #0C5F4C;
}

p,
.blog-main-aside li,
.blog-main-aside a {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 2px;
  color: #2C2C2C;
}

p.blog-date {
  color: #063974;
  font-style: italic;
}

p.aside-title {
  color: #063974;
  font-weight: 700;
  font-size: 1.8rem;
}

p.blog-comments-heading {
  font-size: 3rem;
  font-weight: 700;
}

p.blog-comments-title {
  color: #063974;
  font-weight: 700;
}

p.email {
  font-weight: 700;
}

a {
  display: inline-block;
}

a.logo {
  font-size: calc(1.6rem + 0.9vw);
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  color: #50E3C2;
}

nav li a {
  font-size: calc(1.8rem + 0.2vh);
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1px;
  color: #FFF;
}

nav li a:hover, nav li a:focus {
  color: #50E3C2;
  border-bottom: #50E3C2 dotted 2px;
  border-top: #50E3C2 dotted 2px;
}

nav a.menu {
  font-size: 3rem;
  color: #FFF;
}

nav a.menu:hover, nav a.menu:focus {
  color: #50E3C2;
}

.aside-txt a {
  color: #0C5F4C;
  font-weight: 700;
}

a.button,
button {
  background: #063974;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
}

a.button:hover, a.button:focus,
button:hover,
button:focus {
  color: #063974;
  background: #FFF;
}

a.button {
  padding: 10px 15px;
}

button {
  padding: 10px 15px;
  border: none;
  width: 100%;
}

.home-main-s3 span {
  font-size: 2rem;
}

.home-main-s3 span .fa-stack-2x {
  color: #50E3C2;
}

.home-main-s3 span .fa-stack-1x {
  color: #FFF;
}

.contact-txt span {
  font-size: 3rem;
  color: #2C2C2C;
}

.contact-txt span:hover, .contact-txt span:focus {
  color: #50E3C2;
  -webkit-animation: shake 0.75s 2;
          animation: shake 0.75s 2;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

form input[type="name"],
form input[type="email"],
form textarea {
  padding: 30px;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

form input[type="name"]::-webkit-input-placeholder,
form input[type="email"]::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

form input[type="name"]:-ms-input-placeholder,
form input[type="email"]:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

form input[type="name"]::-ms-input-placeholder,
form input[type="email"]::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

form input[type="name"]::placeholder,
form input[type="email"]::placeholder,
form textarea::placeholder {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

form .name-and-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

form .name-and-email input[type="name"],
form .name-and-email input[type="email"] {
  width: calc((100% - 50px) / 2);
  border: none;
  border-bottom: #50E3C2 2px solid;
  margin-right: 50px;
}

form .name-and-email input[type="name"]:last-child,
form .name-and-email input[type="email"]:last-child {
  margin-right: 0;
}

form textarea {
  border: #50E3C2 2px solid;
  resize: none;
  width: 100%;
  height: 35vh;
}

form button {
  margin: 20px 0 50px 0;
}

.form-1 {
  background: #FAFFFE;
}

.form-1 input[type="name"],
.form-1 input[type="email"],
.form-1 textarea {
  background: #FAFFFE;
}

.form-2 {
  background: #FFF;
}

.form-2 input[type="name"],
.form-2 input[type="email"],
.form-2 textarea {
  background: #FFF;
}

footer {
  background-color: #2C2C2C;
}

footer p {
  color: #FFF;
  text-align: center;
  padding: 20px 0;
}

header .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .wrapper nav ul li {
  margin-left: 40px;
}

header .wrapper nav ul li a {
  padding-left: 20px;
}

header .wrapper nav a.menu {
  display: none;
}

header .wrapper .title-container-1,
header .wrapper .title-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.home-header {
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  position: relative;
}

.home-header .title-container-1 {
  padding-left: 350px;
}

.home-header .title-container-1 h1,
.home-header .title-container-1 .small-home-title {
  z-index: 20;
  position: relative;
}

.home-header .title-container-1 .small-home-title {
  padding-left: 10px;
}

.home-header img {
  width: auto;
  max-height: 550px;
  position: absolute;
  bottom: -100px;
  left: -4%;
  z-index: 10;
}

.blog-header {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh;
}

.blog-header .title-container-2 {
  padding-top: 10px;
}

.contact-header {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh;
}

.contact-header .title-container-2 {
  padding-top: 10px;
}

.home-main .home-main-s1 {
  background-color: #FAFFFE;
}

.home-main .home-main-s1 .home-main-s1-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0 100px 0;
}

.home-main .home-main-s1 .home-main-s1-flex .home-main-s1-txt {
  width: 60%;
}

.home-main .home-main-s1 .home-main-s1-flex .home-main-s1-txt h2 {
  padding: 35px 0 15px 0;
  color: #0C5F4C;
}

.home-main .home-main-s1 .home-main-s1-flex .home-main-s1-txt p {
  padding-bottom: 25px;
}

.home-main .home-main-s1 .home-main-s1-flex img {
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}

.home-main .home-main-s2 {
  background-color: #D2F9F1;
  padding: 100px 0;
}

.home-main .home-main-s2 .home-main-s2-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.home-main .home-main-s2 .home-main-s2-flex .img-container {
  overflow: hidden;
}

.home-main .home-main-s2 .home-main-s2-flex .img-container img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.home-main .home-main-s2 .home-main-s2-flex .img-container img:hover, .home-main .home-main-s2 .home-main-s2-flex .img-container img:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.home-main .home-main-s3 {
  background-color: #FAFFFE;
}

.home-main .home-main-s3 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  padding: 100px 0 125px 0;
}

.home-main .home-main-s3 ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
}

.home-main .home-main-s3 ul li .home-main-s3-icon {
  padding-top: 8px;
}

.home-main .home-main-s4 {
  background: #D2F9F1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 3fr;
      grid-template-columns: 3fr 1fr 3fr;
}

.home-main .home-main-s4 .home-main-s4-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 100px;
}

.home-main .home-main-s4 .home-main-s4-s1 img {
  position: relative;
  top: -50px;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
}

.home-main .home-main-s4 .home-main-s4-s1 h2 {
  padding-top: 50px;
}

.home-main .home-main-s4 .home-main-s4-s1 p {
  text-align: end;
  max-width: 450px;
  padding: 20px 0;
}

.home-main .home-main-s4 .home-main-s4-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 100px;
}

.home-main .home-main-s4 .home-main-s4-s2 img {
  position: relative;
  bottom: -50px;
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}

.home-main .home-main-s4 .home-main-s4-s2 p {
  max-width: 450px;
  padding: 20px 0;
}

.home-main .home-main-s5 img {
  background-repeat: no-repeat;
}

.home-main .home-main-s5 .home-main-s5-txt {
  padding: 100px 150px;
  text-align: center;
}

.home-main .home-main-s5 .home-main-s5-txt h3 {
  color: #0C5F4C;
}

.home-main .home-main-s5 .home-main-s5-txt p {
  padding: 15px 0;
}

.blog-main {
  background: #FAFFFE;
}

.blog-main .blog-main-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFFFE;
}

.blog-main .blog-main-s1 .blog-main-post {
  width: 60%;
  position: relative;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-main .blog-main-s1 .blog-main-post img {
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
  margin-right: 25px;
  position: relative;
  left: -20px;
}

.blog-main .blog-main-s1 .blog-main-post .blog-txt {
  padding: 75px 50px 50px 90px;
  border-right: 4px solid #50E3C2;
  border-bottom: 4px solid #50E3C2;
}

.blog-main .blog-main-s1 .blog-main-post .blog-txt p {
  padding: 10px 0;
}

.blog-main .blog-main-s1 .blog-main-aside {
  width: 25%;
  padding-top: 100px;
}

.blog-main .blog-main-s1 .blog-main-aside img {
  -webkit-box-shadow: 3px 30px 0px 20px #FFF;
          box-shadow: 3px 30px 0px 20px #FFF;
}

.blog-main .blog-main-s1 .blog-main-aside .aside-txt {
  background: #FFF;
  padding: 5px 0 15px 20px;
  margin-left: -17px;
}

.blog-main .blog-main-s1 .blog-main-aside .aside-txt p.aside-title {
  padding: 15px 0;
}

.blog-main .blog-main-s1 .blog-main-aside .aside-txt a {
  padding: 10px 0 20px 0;
}

.blog-main .blog-main-s1 .blog-main-aside .aside-txt ul li::before {
  content: "\2022";
  color: #50E3C2;
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  width: 1em;
  margin-left: 0.5em;
}

.blog-main .blog-main-s1 .blog-main-aside .aside-txt ul li::before p {
  display: inline-block;
}

.blog-main .blog-main-s2 .wrapper {
  padding-right: 400px;
}

.blog-main .blog-main-s2 .wrapper p.blog-comments-heading {
  padding-bottom: 30px;
}

.blog-main .blog-main-s2 .wrapper .blog-comments-1,
.blog-main .blog-main-s2 .wrapper .blog-comments-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px 30px 0;
}

.blog-main .blog-main-s2 .wrapper .blog-comments-1 .blog-comments-img,
.blog-main .blog-main-s2 .wrapper .blog-comments-2 .blog-comments-img {
  width: 20%;
}

.blog-main .blog-main-s2 .wrapper .blog-comments-1 .blog-comments-txt,
.blog-main .blog-main-s2 .wrapper .blog-comments-2 .blog-comments-txt {
  width: 80%;
  padding-left: 50px;
}

.blog-main .blog-main-s2 .wrapper .blog-comments-1 .blog-comments-txt p:last-child,
.blog-main .blog-main-s2 .wrapper .blog-comments-2 .blog-comments-txt p:last-child {
  padding: 20px 0;
}

.blog-main .blog-main-s2 .wrapper form .name-and-email {
  margin-top: 30px;
}

.contact-main {
  background: #FAFFFE;
}

.contact-main .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-main .contact-container form {
  width: 70%;
  position: relative;
  top: -100px;
  left: -50px;
  padding: 0 20px;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
}

.contact-main .contact-container .contact-txt {
  width: 30%;
  margin-left: 100px;
}

.contact-main .contact-container .contact-txt p.email {
  margin-bottom: 20px;
}

.contact-main .contact-container .contact-txt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-main .contact-container .contact-txt ul li {
  margin: 0 20px 20px 0;
}

.contact-main .contact-container .contact-txt ul li a {
  padding: 20px 20px 20px 0;
}

@media (max-width: 940px) {
  header .wrapper nav {
    padding: 50px 0;
  }
  header .wrapper nav ul li {
    margin-left: 20px;
  }
  header .wrapper nav ul li a {
    padding-left: 10px;
  }
  .home-header {
    height: 75vh;
  }
  .home-header .title-container-1 {
    padding: 0px;
  }
  .home-header .title-container-1 h1 {
    line-height: 55px;
  }
  .home-header img {
    display: none;
  }
  .home-main .home-main-s1 .home-main-s1-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 75px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-main .home-main-s1 .home-main-s1-flex .home-main-s1-txt {
    width: 100%;
    margin-top: 40px;
  }
  .home-main .home-main-s1 .home-main-s1-flex .home-main-s1-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 70%;
  }
  .home-main .home-main-s3 ul {
    gap: 80px;
  }
  .home-main .home-main-s3 ul li {
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
  }
  .home-main .home-main-s4 .home-main-s4-s1 p,
  .home-main .home-main-s4 .home-main-s4-s2 p {
    max-width: 350px;
  }
  .home-main .home-main-s5 .home-main-s5-txt {
    padding: 75px 0px;
  }
  .blog-main .blog-main-s1 .blog-main-post .blog-txt {
    padding-left: 70px;
  }
  .blog-main .blog-main-s1 .blog-main-aside {
    width: 35%;
  }
  .blog-main .blog-main-s2 .wrapper {
    padding-right: 0px;
  }
  .contact-main .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contact-main .contact-container form {
    width: 100%;
    top: -50px;
    left: 0px;
  }
  .contact-main .contact-container .contact-txt {
    width: 100%;
    margin: 25px 0 50px 0;
  }
  .contact-main .contact-container .contact-txt ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }
  .contact-main .contact-container .contact-txt ul li {
    margin-right: 0px;
  }
  .contact-main .contact-container .contact-txt ul li a {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  header .wrapper nav ul {
    display: none;
  }
  header .wrapper nav a.menu {
    display: inline-block;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  header .wrapper .title-container-2 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .home-header {
    height: 70vh;
  }
  .home-header h1 {
    line-height: 50px;
  }
  .blog-header .title-container-2 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 50px;
  }
  .contact-header .title-container-2 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 100px;
  }
  .home-main .home-main-s2 {
    padding: 75px 0;
  }
  .home-main .home-main-s2 .home-main-s2-flex {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home-main .home-main-s2 .home-main-s2-flex img {
    width: 60%;
    margin: 0 auto;
  }
  .home-main .home-main-s3 {
    padding: 75px 0;
  }
  .home-main .home-main-s3 ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 50px;
    padding: 0px;
  }
  .home-main .home-main-s3 ul li {
    -ms-grid-columns: 1fr 7fr;
        grid-template-columns: 1fr 7fr;
  }
  .home-main .home-main-s4 {
    background: #D2F9F1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home-main .home-main-s4 .home-main-s4-s1,
  .home-main .home-main-s4 .home-main-s4-s2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-main .home-main-s4 .home-main-s4-s1 img,
  .home-main .home-main-s4 .home-main-s4-s2 img {
    position: static;
    width: 70%;
  }
  .home-main .home-main-s4 .home-main-s4-s1 .main-s4-img2,
  .home-main .home-main-s4 .home-main-s4-s2 .main-s4-img2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .home-main .home-main-s4 .home-main-s4-s1 p, .home-main .home-main-s4 .home-main-s4-s1 h2,
  .home-main .home-main-s4 .home-main-s4-s2 p,
  .home-main .home-main-s4 .home-main-s4-s2 h2 {
    text-align: center;
    max-width: 500px;
  }
  .home-main .home-main-s4 .home-main-s4-s1 {
    padding: 75px 0 75px 0;
  }
  .home-main .home-main-s4 .home-main-s4-s2 {
    padding: 0px 0 75px 0;
  }
  .home-main .home-main-s4 .home-main-s4-s2 h2 {
    margin-top: 50px;
  }
  .blog-main .blog-main-s1 .blog-main-aside {
    display: none;
  }
  .blog-main .blog-main-s1 .blog-main-post {
    width: 100%;
    position: static;
    padding: 75px 0;
  }
  .blog-main .blog-main-s1 .blog-main-post img {
    position: static;
    width: 80%;
    margin: 0 auto;
  }
  .blog-main .blog-main-s1 .blog-main-post .blog-txt {
    border-right: none;
    padding-left: 60px;
  }
  .blog-main .blog-main-s2 .wrapper .blog-comments-1,
  .blog-main .blog-main-s2 .wrapper .blog-comments-2 {
    padding-right: 0px;
  }
  .blog-main .blog-main-s2 .wrapper .blog-comments-2 {
    padding-bottom: 0px;
  }
  .blog-main .blog-main-s2 .wrapper form {
    padding-top: 50px;
  }
  .blog-main .blog-main-s2 .wrapper form .name-and-email {
    margin-top: 0px;
  }
  form input[type="name"],
  form input[type="email"],
  form textarea {
    padding: 20px;
  }
  form .name-and-email {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .name-and-email input[type="name"],
  form .name-and-email input[type="email"] {
    width: 100%;
  }
  form .name-and-email input[type="email"] {
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 90%;
  }
  .home-header,
  .blog-header,
  .contact-header {
    height: 50vh;
  }
  .blog-header .title-container-2,
  .contact-header .title-container-2 {
    padding: 0 0 35px 0;
  }
  .home-main .home-main-s1 .home-main-s1-flex {
    padding: 50px 0;
  }
  .home-main .home-main-s1 .home-main-s1-flex img {
    -webkit-box-shadow: -10px 10px #50E3C2;
            box-shadow: -10px 10px #50E3C2;
  }
  .home-main .home-main-s1 .home-main-s1-flex .home-main-s1-txt h2 {
    padding-top: 0px;
  }
  .home-main .home-main-s3 {
    padding: 50px 0;
  }
  .home-main .home-main-s3 ul li {
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
  }
  .home-main .home-main-s4 .home-main-s4-s1 p, .home-main .home-main-s4 .home-main-s4-s1 h2,
  .home-main .home-main-s4 .home-main-s4-s2 p,
  .home-main .home-main-s4 .home-main-s4-s2 h2 {
    max-width: 300px;
  }
  .home-main .home-main-s4 .home-main-s4-s1 img {
    -webkit-box-shadow: 10px 10px #50E3C2;
            box-shadow: 10px 10px #50E3C2;
  }
  .home-main .home-main-s4 .home-main-s4-s2 img {
    -webkit-box-shadow: -10px 10px #50E3C2;
            box-shadow: -10px 10px #50E3C2;
  }
  .home-main .home-main-s5 .home-main-s5-txt {
    padding: 50px;
  }
  .blog-main .blog-main-s1 .blog-main-post img {
    -webkit-box-shadow: 15px 15px #50E3C2;
            box-shadow: 15px 15px #50E3C2;
  }
  .blog-main .blog-main-s1 .blog-main-post .blog-txt {
    padding: 50px 25px;
  }
  form input[type="name"],
  form input[type="email"],
  form textarea {
    padding: 15px;
  }
  .contact-main .contact-container form {
    -webkit-box-shadow: 10px 10px #50E3C2;
            box-shadow: 10px 10px #50E3C2;
    position: static;
    margin-bottom: 50px;
  }
  footer p {
    font-size: 1.4rem;
  }
}
